
<h1>Start your engines and let the best team win!</h1>

<%= image_tag("http://vh1.mtvnimages.com/uri/mgid:file:gsp:entertainment-assets:/vh1/shows/rupauls-drag-race/apps/season-11/rps12_web_series_main_hero_1920x540_022719.jpg") %>
