<h3><%= @queen.name %></h3>

<%= image_tag(@queen.image_url, height: '450', width: '450') %>

<%= @queen.quote %>


<button type="button" name="button"><%= link_to "Input weekly scores", new_queen_stat_path %></button>
