
header {
  position: left;
}

nav.navbar.navbar-default {
  background-color: #fe3e9f
}

body {
  padding-top: 70px;
  padding-left: 50px;
}

#new_team {
  padding-top : 50px;
}

p {
  padding-top: 10px;
}

button {
  position: right;
}

div.container {
  position: right;
}

h4 {
  font-size: 15px !important;
  text-align: right;
}

a {
  color: #000000 !important;
  font-size: 12px;
}

h3 {
  padding-left: 500px;
}

#container {
  vertical-align: middle;
    height: 200px;
    line-height: 200px;
}

.box {
  width: 300px;
}

.title {
  text-align: left;
  font-size: 30px;
}
